*{
  margin: 0;
  padding: 0;
}
.container-Tv-list {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/Background-Images.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'arial', sans-serif;
}
h1 {
  text-align: center;
  padding: 20px;
  color: white;
}
.list-Tv {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: white;
  justify-content: center;
  margin: 40px 40px;
  border-radius: 12px 12px 0 0;
  width: calc(100% - 80px);
  height: 100%;
}